@charset "UTF-8";
@font-face{
  src:url(font/JosefinSans-Italic-VariableFont_wght.ttf);
  font-family: JosefinSans;
}
a{
  color: black;
}
.header{
	width: 200px;
	flex-flow: column;
}
.header .col>h4{
	text-align: center;
	font-weight: 700;
	line-height: 110px;
}
.footer{
    text-align: center;
    background-color: rgb(143.44 143.44 143.44/50%);
    
    line-height: 130px;

    
}
.sign-in-layout{
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  
  
  z-index: 9999;
}
.holy-wrapper {
  position: relative;
  
}
.fb-like span{
	vertical-align:middle!important;
}
.dropbtn {
  background-color: #ffffff;
  color: #000000;
  padding: 16px;
  font-size: 25px;
  border: none;
  

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center;
}
.dropdown-item:hover{
  background-color: #ca15a0;
  color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: auto;
  top: 100%;
  left: 33%;
  
}
.account-menu{
  margin-top: 50px;


}
.menu-menu {
    display: flex;
    flex-flow: column wrap-reverse;
    position: fixed;
    height: 100vh;
    width: 200px;
    right: 0;
}
#section-0{
  background: url(/BrowMasterLondonV2/resources/img/close-up-portrait-beautiful-jewish-woman-isolated-studio-wall.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#section-1{
  padding-bottom: 100px;
}
#section-2{
  background: url(/BrowMasterLondonV2/resources/img/female-beauty.jpg) no-repeat;
  background-size: cover;

  background-position: top;
  height: 1440px;
  padding: 100px;
  text-align: left;
}
.bio-content>p{
  font-size: 30px;
}
.bio-container{
  margin: unset;
  margin-left: unset;
  margin-right: unset;
}


#section-3{
  background: url(/BrowMasterLondonV2/resources/img/black-wallpaper.jpg);
  background-size: cover;

  background-position: center;
  height: auto;
  padding: 100px;
  text-align: center;
}
.gallery-container{
  margin: auto;
  text-align: center;
  
}
.gallery-container>h1{
  color: yellow;
}
.gallery-container>p{
  color: white;
  font-size: 25px;
}
#section-4{
  background: url(/BrowMasterLondonV2/resources/img/young-woman-getting-beauty-treatment-her-eyebrows.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 100px;
  text-align: left;
}

#section-5{
  background: url(/BrowMasterLondonV2/resources/img/close-up-portrait-beautiful-jewish-woman-isolated-studio-wall.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 100px;

}

.price-container{
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
}
#section-6{
  background: url(/BrowMasterLondonV2/resources/img/single-skin.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 100px;
  text-align: center;
  font-size: 20px;
}
.contact-container>h1{
  text-align: center;
}

.contact-container{
  margin: auto;
  width: 100%;
  height: auto;
}
.contact-container>.col-6>a{
  text-decoration: none;
}
.contact-row .col-6>p>a:hover{
  color: #08f7f5;
}
.col-6{
  text-align: center;
}


.contact-input>input {
    margin: auto;
    width: 500px;
    height: 60px;
    
    margin-top: 20px;
}

#section-8{
  background: url(/BrowMasterLondonV2/resources/img/jungle.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  padding-top: 100px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.blog-container{
  
  width: 100%;
  height: auto;

}
.blog-container>h1{
font-size: 55px;

}
.posts-row>.col-6>img{
  width: 100%;
  
}
.agy>a>p{
  float: left;
  margin-left: 10px;
  margin-right: 15px;
}
.agy>a{
  color: white;
}
.agy>a:hover{
  color: #08f7f5;
}

.microblading-content>p{
  color: white;
  font-size: 30px;
}
.microblading-content>strong{
  font-size: 30px;
  color: yellow;
}
.microblading-content>h1{
  color: yellow!important;
}
.microblading-container{
  margin: unset;
  margin-left: unset;
  margin-right: unset;
}
.microblading-content>i{
  color: #ff5f00;
  font-size: 20px;
}
.pictures{
  width: 100%;
  height: auto;
}
.pictures>div>img{
  width: 100%;
  padding: 10px;

}
.posts-row{
  background-color: #708f83;
  padding: auto;
}
.c6x1>img{
  margin-top: 20px;
  margin-bottom: 20px;
}
.c6x2{
  display: flex;
  flex-flow: column;
}
.c6x2 .div1{
  margin-top: 20px;
}
.c6x2 .div2{
  flex: auto;
}
.c6x2 .div3{
  margin-bottom: 20px;
}
.c6x2>.div1{
  display: flex;
  flex-flow: row;
}
.c6x2>.div3>span{
  margin-left: 15px;
  margin-right: 15px;
}
.c6x2 .div2 .title-a{
  text-decoration: none;
}
.title-a:hover{
  color: #ca15a0;
}
.posts-row>.col-6>div>img{
  width: 80px;
  height: 80px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ca15a0;color: white;}

.word-logo{
	justify-content: center;
	display: flex;
}

.homepage-container{
	height: 100%;
  width: 100%;

}
.homepage-content{
	
	padding-top: 850px;
	

}
html{
	height: 100%;
  
  scroll-behavior: smooth;

}
body{
	height: 100%;

}
.booking-btn{
	justify-content: center;
	display: flex;
  padding: 50px;
  font-size: x-large;

}
.booking-btn>a{
  border: solid;
  padding: 10px;
}
.c3footer{
  padding: 20px;

}
.header>div>h4>a{
  opacity: 0;
  color: black;
  visibility: hidden;
  

}
.header>div>h4>a.active{
  opacity: 1;
  visibility: visible;
  transition: 1 ease-in;
  transition-duration: 5;
}
.a1.active{
  transition: 0.5s ease;
}
.a2.active{
  transition: 1.5s ease;
}
.a3.active{
  transition: 2.5s ease;
}
.a4.active{
  transition: 3.5s ease;
}
.a5.active{
  transition: 4.5s ease;
}
.a6.active{
  transition: 5.5s ease;
}
.a7.active{
  transition: 5.5s ease;
}
.a8.active{
  transition: 5.5s ease;
}
.a9.active{
  transition: 5.5s ease;
}
.header>div>button{
  display: none;
}
.header a:hover{
  color: #ca15a0;
  text-decoration: none;

}
.booking-btn>button>a{
  color: black;
}
.booking-btn>a:hover{
  text-decoration: none;
  color:#ca15a0 ;

}
.booking-btn:hover{
  border-color: #ca15a0;
  color:#ca15a0 ;
  text-decoration: none;
}
html,body,a,h1,h2,h3,h4,h5,h6,button{
  font-family: JosefinSans;
}
#myBtn {
  display: inline-block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ffffff; /* Set a background color */
  color: #000000; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
   /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  height: 70px;
  width: 70px;
  text-align: center;
}
#myBtn{
  display: inline-block ;
}
#myBtn:hover {
  background-color: #ca15a0; /* Add a dark-grey background on hover */
  color:#ffffff ;
}
.bell {
  position: absolute;
  margin-top: 20px;
  transform: translate(-50%, -50%);
}
.bell-holder{
  position: relative;
}
.bell .bell-top {
  width: 50px;
  height: 50px;
  background: #ca15a0;
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 0 0;
}
.bell .bell-top:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: inherit;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.bell .bell-top:after {
  content: "";
  border-bottom: 10px solid #ca15a0;
  border-left: 8px solid #ca15a0;
  border-right: 8px solid #ca15a0;
  height: 0;
  width: 50px;
  position: absolute;
  bottom: -10px;
}
.bell .bell-bot {
  width: 16px;
  height: 8px;
  background: #ca15a0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
  border-radius: 0 0 16px 16px;
}
.bell .bell-notification {
  background: #ff4c12;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  right: -40px;
  top: -30px;
  color: #ca15a0;
  font-family: "Open Sans";
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  opacity: 0;
}
.account-menu{
  width: 187px;
  display: none;
}
.acc-menu{
  margin-left: 50px;

}
.bell-top-anim {
  animation: abanico 1000ms ease-in-out;
  transform-origin: top;
}

.bell-bot-anim {
  animation: badalo 1000ms ease-in-out;
}

.new-not {
  animation: popup 500ms forwards;
}
.dropright>button{
  background-color: white!important;
  border: none;
  color: #ca15a0;
}
.dropright>button:hover{
  background-color: #ca15a0!important;
  color: white;
}

@keyframes abanico {
  0% {
    transform: rotate(0deg);
  }
  7.5% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(-25deg);
  }
  45% {
    transform: rotate(15deg);
  }
  58% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(5deg);
  }
  87.5% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes badalo {
  15% {
    transform: translateX(-25px) rotate(7deg);
  }
  32.5% {
    transform: translateX(10px) rotate(-7deg);
  }
  50% {
    transform: translateX(-15px) rotate(7deg);
  }
  65% {
    transform: translateX(5px) rotate(-7deg);
  }
  80% {
    transform: translateX(-15px) rotate(7deg);
  }
  90% {
    transform: translateX(0px) rotate(-7deg);
  }
}
@keyframes popup {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.btn-menu {
  background: url(/BrowMasterLondonV2/resources/img/t-icon.png) no-repeat;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-top: 25px;
  margin-right: 39px;
  }
.btn-menu.active{
  z-index: 999;
  background: url(/BrowMasterLondonV2/resources/img/close-icon.png) no-repeat;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-top: 25px;
  margin-right: 39px;
} 
